.toggle-switch {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 60px;
}

.toggle-input {
  opacity: 0;
  width: 0;
  height: 0;
}


.toggle-label .toggle-button {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: #B376C9;
  border-radius: 50%;
  transition: transform 0.2s;
}


.toggle-input:checked + .toggle-label .toggle-button {
  transform: translateX(60px);
}